/* Footer */
.site-footer{
    background-color: var(--primary-clr-light);
    color: var(--main-text-clr);
    border-radius: 24px 24px 0 0;
    padding: 0.5em;

    width: 100%;
    margin: auto;
}

footer.site-container{
    --site-wrapper-mb-padding:.5em;
}
.footer--container{
    padding: 3em 1.5em;
    border: 4px solid var(--primary-clr);
    border-radius: 1em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5em;
}

.footer-business-description{
    display:flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.footer--business-description > *{
    margin:0;
}

.footer--links{
    display:flex;
    gap: var(--spacing-3xl);
    flex-wrap: wrap;
}

.footer--sitetitle{
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.links{
    padding-left:0;
    list-style-type: none;
}
.link--item{
    margin: .5em 0;
    opacity: var(--text-opacity-high);
}
.link--url{
    font-size: 1.25rem;
    font-weight: 500;
}

.link--title{
    /* font-weight: 600; */
    margin-top: 0;
    margin-bottom: .25em;
    font-size: 1.5rem;
    opacity: 1;
}


