/* header.css: The css that covers all the styles of header navigation */
/*  */

.site-img{
    width: 75px;
    border-radius: 50%;
}

.site-header{
    /* position: fixed; */
    width: 100%;
    z-index: 100;
    background-color: var(--primary-clr);
    /* padding: var(--spacing-lg); */
    padding-inline: 1.25em;
    color:white
}

.site-icon{
    width: 48px;
}

.site-nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: var(--spacing-lg) 0;
}

.site-brand{
    z-index: 1000;
}

.site--title{
    color: var(--accent-clr);
    opacity: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.site--hamburger{
    z-index:1000;
    cursor: pointer;
    position:relative;
    width: 40px;
    height: 30px;
}

.bar{
    position:absolute;
    /* margin: .625em 0; */
    border: 2px solid var(--accent-clr);
    width: 100%;
    border-radius: 8px;

    /* transition:cubic-bezier(0.785, 0.135, 0.15, 0.86) all 250ms; */
}

.site--hamburger .bar:nth-child(1){
    top:0;
}
.site--hamburger .bar:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
.site--hamburger .bar:nth-child(3){
    bottom:0;
}

.site--hamburger.active .bar:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
    left: 0;
}
.site--hamburger.active .bar:nth-child(2){
    opacity:0;
}
.site--hamburger.active .bar:nth-child(3){
    transform: rotate(-45deg);
    bottom: 40%;
    left: 0;
}



.nav-container{
    position:absolute;
    width: 100%;
    top: 50px;
    left:0;
    z-index: 1;
    transition: top 500ms ease;
    background:var(--primary-clr);
    height: 0;
    position:fixed;
    overflow:hidden;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1) height 500ms; */
    /* transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) height 250ms; */
}

.nav-container.active{
    height: 100dvh;
    z-index: 100;
}

.nav-option{
    padding:var(--spacing-md);
    list-style-type:none;
    font-size: 1.5rem;
    font-family: var(--header-font);
    overflow:hidden;
}

<<<<<<< HEAD
.nav--cta{
    display: none;
}

.nav--cta.nav-option{
    display:block;
}

=======
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
.nav-link{
    text-decoration: none;
    color: white;
    position:relative;
    font-weight: 500;
}

.nav-link:hover{
    text-decoration: underline;
}


@media screen and (min-width: 768px){
    .nav-container{
        position:relative;
        top:0;
        z-index:1;
        padding:0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background:var(--main-accent-clr);
<<<<<<< HEAD
        width: fit-content;
=======
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
        height: fit-content;
    }
    .site-header{
        color:white;
    }
    
    .site-nav{
<<<<<<< HEAD
        max-width: 1024px;
        margin:auto;
        background: none;
        padding-top: var(--spacing-xxl);
=======
        max-width: var(--site-wrapper-size);
        margin:auto;
        background: none;
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
    }
    .nav-link{
        font-size: 1rem;
    }

<<<<<<< HEAD
    .nav-option.nav--cta{
        display:none;
    }

    .nav--cta{
        display:block;
    }

=======
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
    .bar{
        display:none;
    }
}