.hero{
    padding: 2em 0;
}


.hero--container{
    background-color: var(--accent-clr);
    padding: 1rem;
    border-radius: 3rem;
    position: relative;
}

.hero--hello{
    /* width:136px;
    height:136px; */
    position:absolute;
    padding: var(--spacing-md);

    top:-40px;
    right:0;

    content: 'Hello World';
    border: 8px solid var(--primary-clr);
    background-color: #6987c9;
    border-radius: 5rem;

    display:flex;
    justify-content: center;
    align-items:center;

}

.hero--hello--icon{
    padding: var(--spacing-md);
    border: 8px solid var(--primary-clr);
    transform:rotate(45deg);
    border-radius: 5rem;
}

.icon--img{
    width:64px;
    transform: rotate(-60deg);
}

.hero--content--inner{
    border: var(--primary-clr) 4px solid;
    /* padding: var(--spacing-lg); */
    border-radius: 2rem;
    overflow: hidden;
}

.hero--url--container{
    background-color:var(--primary-clr);
    padding: var(--spacing-md) var(--spacing-xl);
    color: var(--accent-clr);
    width:100%;
}

.hero--url--container > p{
    font-size: var(--font-size-text-xs);
    font-family: var(--font-family-header)
}

.hero--info--container{
    padding: var(--spacing-xl);
    color: var(--primary-clr);
}

.hero--info{
    margin: var(--spacing-xl) 0;
    max-width: 556px;
}

.hero--info--image > img{
    width:100%;
}

.hero--title{
    /* width: 80%; */
}

.hero--techstack{
    grid-column: 1 / -1;
}

.techstack--cards{
    flex-wrap: wrap;
}

.about--header{
    margin-bottom: 2.75em;
}
.about--info{
    gap: 1em;
    align-items: flex-start;
}

.faq--content{
    border: 2px solid var(--accent-clr);
    /* border-radius-right: 20px; */
    border-left:none;
    border-right:none;

    padding: 2em 0;

}

@media screen and (min-width:768px){
    .hero{
        padding-top: 12em;
    }

    .hero--info--container{
        gap: 8em;
    }
}