/* Mobile First (Cause we do it the practical way) */
.hero{

}

.hero--content{
    margin-bottom: var(--spacing-xl);
}

<<<<<<< HEAD

.status{
    margin-bottom: var(--spacing-md);
    color: var(--accent-clr);
    font-weight: 500;
    position: relative;
    align-items: center;
}

.status--icon{
    content: "";
    width: 18px;
    height: 18px;
    background-color: var(--accent-clr);
    border-radius: 100%;
}

.hero--title{
    font-size: var(--font-size-header-md);
=======
.status{
    margin-bottom: var(--spacing-md);
}

.hero--title{
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
    margin-bottom: var(--spacing-sm);
}

.hero--options{
    margin-top: var(--spacing-xl);
    gap: var(--spacing-sm);
}

.hero--links{
    gap: var(--spacing-lg);
    position:relative;
}

.links--icon{
    position:absolute;

    top: 0;
    left: 6.75em;
    width: 48px;
    height: 48px;

    transform: rotate(19.95deg);
}

.links--header{
    position: relative;
}

.link--item--container{
    display:flex;
    align-items:center;
}

.link--arrow{
    width: 48px;
}
/* Techstack  */
.techstack{
<<<<<<< HEAD
    gap: var(--spacing-lg);
=======
    justify-content: space-between;
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
}

.techstack--container{
    gap: var(--spacing-md);
<<<<<<< HEAD
    flex-wrap:wrap;
=======
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
}

.techstack--title{
    font-size:var(--font-size-header-sm);
}

<<<<<<< HEAD
.projects--header{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-lg);
}
/* Project Card */
.project-card--inner{
    padding: var(--spacing-2xl) var(--spacing-xl);
    gap: var(--spacing-xxl);

    .separator{
        height: 2px;
        background-color: var(--primary-clr);
        border-radius: 1.5em;
        padding:0;
    }
}

div.separator:nth-child(6){
    display:none;
=======
/* Project Card */
.project-card--inner{
    padding: var(--spacing-2xl) var(--spacing-lg);
    gap: var(--spacing-xxl);
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
}
.projects--header{
    justify-content: space-between;
    margin-bottom: var(--spacing-xl);
}

<<<<<<< HEAD
.project--item{
    justify-content: space-between;
}

.project--info{
    width: 66%;
}

=======
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
.project--title{
    font-size:var(--font-size-header-sm);
    margin-bottom: var(--spacing-sm);
}

.project--description{
<<<<<<< HEAD
=======
    margin-bottom: var(--spacing-sm);
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
}

.project--options{
    gap: var(--spacing-xl);
<<<<<<< HEAD
    align-items: flex-end;

    a{
        font-size: 1rem;
    }
}

=======
}

.separator{
    height: 2px;
    background-color: var(--primary-clr);
}
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e

.about-me > div{
    margin-bottom: var(--spacing-xl);
}
.about-me--header{
    margin-bottom: var(--spacing-md);
}

.about-me--about{
    margin-bottom: var(--spacing-xl);
}

.about-me-content--inner{
    padding: var(--spacing-2xl) var(--spacing-lg);
}

.about-me--segments{
    gap: var(--spacing-lg);
}

.segment--title{
    font-size: 1.25rem;
}

.segment--items{
    font-family: var(--font-family-header);
    font-weight: 700;
    color: var(--accent-clr);
}

/* Posts  */
.posts--title{
    margin-bottom: var(--spacing-lg);
}

.post-item--footer{
    justify-content: space-between;
}


@media screen and (min-width:768px){
    .hero{
        display:grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom:var(--spacing-lg);
    }

<<<<<<< HEAD
    .hero--title{
        font-size: var(--font-size-header-xl);
    }

=======
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
    .hero--links{
        justify-self: center;
    }

    .links--header{
        margin-top: var(--spacing-lg);
    }

    .links--icon{
        top: 1em;
        width: 64px;
        height: 64px;
    }

    .links--container{
        margin-left: var(--spacing-xxl);
    }
<<<<<<< HEAD
    
=======

>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
    .techstack--title{
        font-size: var(--font-size-header-md);
    }

    .techstack--container > img{
        width: 36px;
    }

<<<<<<< HEAD
    .projects--header{
        flex-direction: row;
    }

=======
>>>>>>> 8b06a16b3308ee699ff77232b14f54e43a22517e
    .about-me{
        flex-direction: row;
        gap: var(--spacing-2xl);
    }

    .about-me--content{
        max-width: 524px;
    }
}

@media screen and (min-width:974px){

}