.site-container, .site-footer{
    --site-wrapper-size: 1124px;
}


/* Trying out nested styles (see how it works) */
.service--inner{
    & h1{ 
        max-width: 924px;
        margin-bottom: var(--spacing-sm);
    }

    & p {
        max-width: 596px;
        margin-bottom: var(--spacing-xl);
    }

    & .service--image{
        margin-top: var(--spacing-3xl);
        width: 100%;

        & img{
            width: 100%;
            /* height: 524px; */
            border-radius: 24px;
            border: 2px solid var(--primary-clr-light);
        }
    }
}

.about{
    .about--inner{

        .text--block{
            max-width: 440px;
        }
    }
}

.problem{
    & .problem--inner{
        align-items: center;
    }

    & .problem--highlights > li{
        margin-bottom: var(--spacing-xl);
    }
}


.projects--inner{
    & h1 {
        margin-bottom: var(--spacing-md);
    }

    & .projects--list {
        gap: var(--spacing-xs);

        & .project--item{
            height: 248px;
        }
    }
}

.process--inner {
    & h1 {
        margin-inline:auto;
        max-width: 524px;
        text-align:center;
        margin-bottom:var(--spacing-lg);
    }
}

.features--inner{

    & .features--content{
        text-align:center;
        max-width: 768px;
        margin-inline:auto;
        margin-bottom: var(--spacing-xxl);

        & h1{
            margin-bottom: var(--spacing-md);
        }
    }

}

.col.feature--col{
    gap:var(--spacing-md);

    & .feature{
        align-self:stretch;

        & h3{
            min-height: 72px;
        }
    }
}


.pricing--header{
    max-width: 524px;
}
.pricing{
    & .pricing--plan{
        /* margin-bottom:var(--spacing-xl); */
        min-height: 248px;

        & h1{
            margin-bottom: var(--spacing-xs);
        }
    }

    & .pricing--amount{
        margin-bottom: var(--spacing-lg);
    }


    & .pricing--content{
        h3{
            margin-bottom: var(--spacing-md);
        }
        & .features--list{
            gap:var(--spacing-sm);
        }
    }

}

.card.pricing--card, .card.feature, .card.step{
    height:100%;
    & .card--inner{
        padding: var(--spacing-xl) var(--spacing-md);
    }
}

.card.step{
    min-height: 324px;

    & .card--inner{
        min-height: 324px;
    }
}

.card.feature{
    height: 100%;
}

@media screen and (min-width: 768px) {
    .service--image{
        width: 100%;
        grid-column: 1 / 3;

        & img{
            height: 524px;
        }
    }

    h2{
        font-size:var(--font-size-header-xl);
    }
}