/* Reset HTML Values */

/* NOTE: Actually download the fonts before production */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --primary-clr: #171717;
    --primary-clr-dark: #111111;
    --primary-clr-light: #303030;

    --accent-clr: #40d91f;
    --accent-clr-light: #6ef151;
    --accent-clr-medium: #51e530;
    --accent-clr-dark: #29b90a;

    --secondary-clr: #626D58;

    --white-clr: #eaeaea;


    --font-size-title: 3rem;
    --font-size-header: 2.75rem;
    --font-size-subheader: 1.5rem;

    --font-size-title-mb: 2.75rem;
    --font-size-header-mb: 2.5rem;
    --font-size-subheader-mb: 1.25rem;

    --font-family: 'Space Grotesk', serif;
    --font-family-default: 'Inter', sans-serif;

    --wrapper-size: 1150px;
    --wrapper-size-mb: calc(100% - 2em);
}

* {
    margin: 0;
}

h1,
h2,
h3{
    line-height: 1;
    font-weight: 500;
    font-family: var(--font-family);
}

h2{
    font-size: var(--font-size-header-mb);
}

h3{
    font-size: var(--font-size-subheader);
}

p{
    line-height: 1.4;
    font-weight: 400;
    font-size: 1rem;
}

img,
picture,
svg,
video{
    max-width: 100%;
    display: block;
    object-fit: contain;
}

button{
    --hover-clr: #252525;

    background-color: var(--primary-clr-light);
    color: var(--white-clr);

    padding: 0.5em 1em;

    font-size: 1.125rem;
    font-family: var(--font-family);
    font-weight: 500;

    border: none;
    border-radius: 2.5em;

    cursor: pointer;
}

button:hover{
    background: var(--hover-clr);
}



ul[role="list"], 
ol[role="list"]{
    list-style: none;
}


body{
    background-color: var(--primary-clr-dark);
    color: var(--white-clr);
    font-family: var(--font-family-default);
}



.highlight{
    color: var(--accent-clr);
}

.smol--text{
    font-size: 1em;
    font-family: var(--font-family);
    margin: 1em 0;
    color: var(--accent-clr);
    font-weight: 500;
} /* TO RENAME*/

.btn-primary{
    --hover-clr: var(--accent-clr-light);
    background-color: var(--accent-clr);

    color: var(--primary-clr-dark);
}

.title{
    font-size: var(--font-size-title-mb);
}

.header{
    font-size: var(--font-size-header-mb);
}

.subheader{
    font-size: var(--font-size-subheader-mb);
}

.wrapper{
    max-width: var(--wrapper-size-mb);
    margin: auto;
}

.layout--container{
    max-width: 68.75rem;
    margin-inline: auto;
    padding: 1em;
}

.blog--wrapper{
    max-width: 46em;
    margin-inline: auto;
    padding: 1em;
}

.section--wrapper{
    padding: 2em 0;
}

/* layout.css: Contains styles for simple layouts to modify styles */

.flex-wrap{
    display: flex;
    flex-wrap:wrap;
    gap: .25em;
}

.flex-row{
    display: flex;
    flex-direction: column;
    gap:12px;
}

.flex-col{
    display:flex;
    flex-direction: column;
}

.flex{
    display: flex;
}

.col{
    display: grid;
    gap: 20px;
}

.col-2 > img{
    width: 100%;
}


.col-3 > img{
    width: 100%;
}

.col-4 > img{
    width: 100%;
}

.col-2, .col-4{
    display:grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap:20px;
}

.col-3{
    display: grid;
    gap:20px;
}


@media screen and (min-width:590px){
    .col-2, .col-4{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:768px){
    .col-3{
        grid-template-columns: repeat(3, 1fr);
    }
    .col-4{
        grid-template-columns: repeat(4, 1fr);
    }

    .flex-row > div{
        width: 50%;
    }
     
    .flex-row{
       display:flex;
        flex-direction: row;
        justify-content:space-between;
        gap: 10px;
        align-items:center;
      }

    .wrapper{
        max-width: var(--wrapper-size);
    }
    
    .section--wrapper{
        padding: 5em 0;
    }
}

@media screen and (min-width: 46em){
    .title{
        font-size: var(--font-size-title);
    }

    .header{
        font-size: var(--font-size-header);
    }

    .subheader{
        font-size: var(--font-size-subheader);
    }
}