---
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard.astro";
import "../styles/pages/blog.css";

const allPosts = Object.values(import.meta.glob("./blog/*.md", {eager: true}));
---

<Layout>
    <section class="blog site-container">
        <div class="blogpage--header">
            <h1>All Posts Have Been Shown</h1>
            <p>Here are some sample posts, hope y'all like these</p>
        </div>
    </section>

    <section class="blogpost--list site-container">
        <div class="col">
            {allPosts.map( (post: any) => <BlogCard title={post.frontmatter.title} description={post.frontmatter.description} date={post.frontmatter.date} url={post.url} /> )}
        </div>
    </section>
</Layout>