---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="site-container">
        <h1>Let's Keep In Touch! Well, After I Finish This Contact Form</h1>
    </section>
</Layout>