---
// import "../styles/global.css";

import Layout from '../layouts/Layout.astro';
import Accordion from "../components/Accordion.astro";
import Card from "../components/Card.astro";

import "../styles/pages/index.css";


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const socialLinks = [ 
	{text: "linkedin", url:"https://www.linkedin.com/in/benedict-antwi-607270278/"},
	{text: "github", url: "https://github.com/Benadudeee"},
	{text: "handshake", url:"https://app.joinhandshake.com/profiles/mu3av9"}
];

const projectLinks = [
	{text: "Particle Simulation", url: "https://dhaven.netlify.app/"},
	{text: "Simple Astro Blog", url: "https://astro-blogging-tutoriall.netlify.app/"},
	{text: "Vacation Page", url: "https://vacation-page.netlify.app/"}
];

const project_matches = import.meta.glob('../pages/projects/*.md', { eager: true });
const projects = Object.values(project_matches).slice(0, 3);


const blog_matches = import.meta.glob("../pages/blog/*.md", { eager: true });
const blog_posts = Object.values(blog_matches).slice(0, 3);

const tech_stack_icons_obj = import.meta.glob("../../public/images/icons/*.*", {eager: true});
const tech_stack_icons = Object.values(tech_stack_icons_obj);
// const blog_posts = Object.values(blog_matches).slice(0, 4);

tech_stack_icons.forEach( (stack : any) => stack.default.width = 80)
---


<Layout>
	 <section class="hero">
        <div class="site-container hero--container">
			<div class="hero--hello">
				<div class="hero--hello--icon">
					<img class="icon--img" src="/svg/hand_wave.svg" alt="Saying hello">
				</div>
			</div>
			
            <div class="hero--content--inner">
				<div class="hero--url--container">
					<p>https://portfolio.blog</p>
				</div>
                <div class="hero--info--container col-2">
					<div class="hero--info text-content flex-col">
						<h1 class="title hero--title">Hi I Like Making Cool Stuff With Tech</h1>
						<p class="hero--about">I'm a web developer and a college student that's building and learning how to make great software. I mostly create fullstack apps though I do love building in the frontend</p>
						<!-- Hello Friend -->
						
						<a href="/pdf/resume.pdf" class="btn cta-btn dark">See Resume</a>
					</div>
					<div class="hero--info--image">
						<img src="images/cat-spinning.gif" alt="The meme of a spinning cat a temporary photo until I find something better" srcset="">
						<p>This is a placeholder image ^^</p>
					</div>
					<div class="hero--techstack col-2">
						<div class="hero--techstack--content text-content flex-col">
							<h3>My Tech Stack</h3>
							<p>Here are some of the things I like to use when building websites and web apps</p>
						</div>

						<div class="techstack--cards flex-row">
							{ 
								tech_stack_icons.map( (stack : any) => (
									<Card classes="card--techstack"> 
										<img class="card--techstack--icon" width=80 height=80 src={ stack.default.src } />
									</Card>
								))
							}
						</div>
					</div>
				</div>


            </div>
        </div>
        </div>
	 </section>
	 <section class="projects">
        <div class="site-container projects--container">
			<div class="project--heading flex-col text-content wrapper sm">
				<h2 class="project--title">Projects I've Made Over the Years</h2>
				<p>
				   Here are all main projects I've been working on for the past few years. 
				   You can get all the projects I've done (Just not for now)
				</p>
			</div>

			<div class="col-3 projects--cards">
				<Card classes="red">
					<p>Card 1</p>
				</Card>
				<Card>
					<p>Card 2</p>
				</Card>
				<Card>
					<p>Card 3</p>
				</Card>
			</div>
        </div>
	 </section>

</Layout>


<!-- Maps Project Cards -->
// <!-- {
// 	projects.map( (project : any) => (
// 			<article class="card article">
// 				<p class="card--title">{project.frontmatter.title} </p>
// 				<div class="tags--container flex-row">
// 					<p class="tag">Tag 1</p>
// 					<p class="tag">Tag 2</p>
// 					<p class="tag">Tag 3</p>
// 				</div>
// 				<p class="card--description">{project.frontmatter.description}</p>
// 			</article>
// 		)
// 	)
// } -->

