---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="site-container">
        <h1>W.I.P</h1>
        <p>This feature of the site is a Work in Progress. Sorry for the trouble</p>
    </section>
</Layout>