---
import Layout from "../layouts/Layout.astro";
import Card from "../components/global/Card.astro";
import "../styles/pages/services.css";
---

<Layout>
	<section class="service">
		<div class="service--inner site-container">
			<h1 class="headline">I build custom cost-effective websites that help local and small businesses</h1>
			<p>I develop custom websites to local businesses using the best practices to help with their digital presence and increase conversions</p>
			<button class="btn cta--btn">Schedule Free Consulation</button>
		</div>
	</section>

	<section class="about">
		<div class="about--inner site-container col-2">
			<div class="text--block">
				<h2>I'm a Freelance Web Developer in Worcester, MA</h2>
				<p>I've been creating websites for clients since highschool, and I have lots of experience to create and develop websites.

From years of trial and failure, I've risen up and learned to apply the best practices to websites. 

Now, I'm freelancing and offering websites to businesses. </p>
			</div>

			<div class="about--stats">
			</div>
		</div>
	</section>

	<section class="features">
		<div class="features--inner site-container">
			<div class="features--content text--block">
				<h1>I Make Digital Products to Solve Business Problems</h1>
				<p>I create modern, high-performing websites and applications designed to help businesses thrive. From speed to security, every detail is built to deliver results.</p>
			</div>

			<div class="col-4">
				<Card classes="feature">
					<h3>SEO Optimized</h3>
					<p>Built with best SEO practices to help your site rank higher and attract more organic traffic.</p>
				</Card>

				<Card classes="feature">
					<h3>Designed for Scale</h3>
					<p>Future-proof architecture ensures your website can grow as your business expands.</p>
				</Card>

				<Card classes="feature">
					<h3>Blazing Fast Speeds</h3>
					<p>Optimized for lightning-fast load times to keep users engaged and boost conversions.</p>
				</Card>
				
				<Card classes="feature">
					<h3>100% Secure, Guaranteed</h3>
					<p>Top-notch security measures protect your data and keep your customers safe.</p>
				</Card>
			</div>
		</div>
	</section>
	<section class="process">
		<div class="process--inner site-container">
			<h1>I Can Make You A Website In 1-2 Weeks. Even Less!</h1>

			<div class="process--steps col-2">
				<Card classes="step">
					<div class="text--block">
						<h3>Step One: Discovery Call</h3>
						<p>We'll set up a meeting where we'll talk about your businesses goals and recommendations</p>
					</div>
				</Card>
				<Card classes="step">
					<div class="text--block">						
						<h3>Step Two: Design</h3>
						<p>I will create a prototype that fits your business requirements. You can request for up to three revisions on the prototype.</p>
					</div>
				</Card>
				<Card classes="step">
					<div class="text--block">
						<h3>Step Three: Development</h3>
						<p>I will custom code the website for performance and scalability, I'll share the demo with you and you can request up to two revisions.</p>
					</div>
				</Card>
				<Card classes="step">
					<div class="text--block">
						<h3>Step Four: Production</h3>
						<p>The website will be posted to production! You can choose whether to host it yourself or have me host it for you.</p>
					</div>
				</Card>
			</div>
		</div>
	</section>
	<section class="pricing">
		<div class="pricing--inner site-container">
			<div class="pricing--header text--block">
				<h1>Pricing</h1>
				<p>In the moment, I'm offering custom plans for cheap. These will only get more expensive so if you want to buy a website, buy it while it lasts.</p>
			</div>

			<div class="col-3">
				<Card classes="pricing--card">
					<div class="pricing--plan">
						<h1 class="pricing--title">Starter Package</h1>
						<p>For small businesses starting out. You get a free one paged website for your needs.</p>
					</div>
	
					<div class="pricing--amount">
						<p>Starting at</p>
						<h1>350$</h1>
					</div>
					<div class="pricing--content">
						<h3>Features</h3>
						<ul class="features--list col">
							<li>Custom Coded Page</li>
							<li>1-Page Website</li>
							<li>Contact Form</li>
							<li>SEO Optimized</li>
							<li>Conversion Optimized</li>
						</ul>
					</div>
				</Card>
				<Card classes="pricing--card">
					<div class="pricing--plan">
						<h1 class="pricing--title">Standard Package</h1>
						<p>For general businesses that need a website with little functionality. All pages are static</p>
					</div>
	
					<div class="pricing--amount">
						<p>Starting at</p>
						<h1>750$</h1>
					</div>
					<div class="pricing--content">
						<h3>Features</h3>
						<ul class="features--list col">
							<li>Custom Coded Page</li>
							<li>1+ Pages</li>
							<li>Contact Form</li>
							<li>SEO Optimized</li>
							<li>Conversion Optimized</li>
						</ul>
					</div>
				</Card>
				<Card classes="pricing--card">
					<div class="pricing--plan">
						<h1 class="pricing--title">Enterprise</h1>
						<p>For businesses that need more advanced website features, </p>
					</div>
	
					<div class="pricing--amount">
						<p>Starting at</p>
						<h1>1500$</h1>
					</div>
					<div class="pricing--content">
						<h3>Features</h3>
						<ul class="features--list col">
							<li>Custom Coded Page</li>
							<li>1-Page Website</li>
							<li>Contact Form</li>
							<li>SEO Optimized</li>
							<li>Conversion Optimized</li>
						</ul>
					</div>
				</Card>
			</div>
		</div>
		
	</section>
</Layout>