---
import Layout from "../layouts/Layout.astro";
import Card from "../components/global/Card.astro";
import "../styles/pages/services.css";
---

<Layout>
	<h1>W.I.P</h1>
	<p>This feature of the site is a Work in Progress. Sorry for the trouble</p>
</Layout>