---
import Layout from "../layouts/Layout.astro";
import "../styles/pages/services.css";
---

<style>

</style>

<Layout>
	<!-- Content for Services Page -->
	<section class="service hero site-container">
		<h1>I Build Websites From Scratch That Attract and Convert Customers</h1>
		<p>I create websites that are modern and readable</p>

		<button>Book Meeting</button>
	</section>

	<section class="projects">

	</section>

	<section class="problem site-container">
		<h2>Most Websites Aren't Modern and May Have Security Risks</h1>
		<p>You may have encountered</p>
	</section>

	<section class="services site-container">
		<h2>This is Where I Come In</h2>

		<ul class="benefit">
			<li>Security Handled</li>
			<li>Infinitely Scalable</li>
			<li>Fast Loading Times</li>
			<li>SEO Optimized</li>
			<li>Modern Appeal</li>
		</ul>
	</section>

	<section class="how--to site-container">
		<h2>Here's how the process works</h2>

		<ul>
			<li>1. Discovery Call</li>
			<li>2. Design Phase</li>
			<li>3. Development Phase</li>
			<li>4. Outboarding and Hosting</li>
		</ul>
	</section>
</Layout>