---
import { astroCalledServerError } from "astro:actions"
import Card from "./Card.astro"

const { title, description, date, url} = Astro.props
---

<Card>
    <div class="blogcard--item">
        <h3>{title}</h3>
        <p>{description}</p>

        <p>{date}</p>

        <a href={url}>Read More</a>
    </div>
</Card>