---
import '../styles/components/footer.css'
---
   
   <footer class="site-footer">
        <div class="footer--container site-container">
            <div class="footer--business-description">
                <h2 class="title footer--sitetitle">Benedict</h2>
            </div>

            <div class="footer--links">
                <div class="links--container">
                    <h3 class="link--title">Socials</h3>
                    <ul class="links">
                        <li class="link--item">
                            <a class="link--url" href="#">Instagram</a>
                        </li>
                        <li class="link--item">
                            <a class="link--url" href="#">Nextdoor</a>
                        </li>
                        <li class="link--item">
                            <a class="link--url" href="#">Github</a>
                        </li>
                        <li class="link--item">
                            <a class="link--url" href="#">Youtube</a>
                        </li>
                    </ul>
                </div>
                <div class="links--container">
                    <h3 class="link--title">Pages</h3>
                    <ul class=" links">
                        <li class="link--item">
                            <a class="link--url" href="#">Home</a>
                        </li>
                        <li class="link--item">
                            <a class="link--url" href="#">Docs</a>
                        </li>
                        <li class="link--item">
                            <a class="link--url" href="#">Playground</a>
                        </li>
                    </ul>
                </div>
                <div class="links--container">
                    <h3 class="link--title">Misc</h3>
                    <ul class=" links">
                        <li class="link--item">
                            <a class="link--url" href="#">Fun Facts</a>
                        </li>
                        <li class="link--item">
                            <a class="link--url" href="#">False Ditchonomy</a>
                        </li>
                        <li class="link--item">
                            <a class="link--url" href="#">My Dreams and Wants</a>
                        </li>
                    </ul>
                </div>
            </div>

                </div>
            </div>
    </footer>
