---
const {links} = Astro.props;
---

<style>
    :root{
        --primary-clr: #171717;
        --primary-clr-dark: #111111;
        --primary-clr-light: #303030;

        --accent-clr: #51e530;
        --accent-clr-dark: #29b90a;

        --secondary-clr: #626D58;

        --white-clr: #eaeaea;
    }

    .links--container{
		margin-top: 1em;

		display:flex;
		flex-direction: column;
		gap: 0.5em;
	}

    .links--container > li{
        list-style-type: none;
    }

    .links--container > li > a{
        color: var(--white-clr);
        font-size: 1.125rem;
    }
</style>

<div class="links--container">
    {links.map(link =>  <li><a href={link.url} target="_blank">{link.text}</a></li>)}
</div>