---
import "../styles/global.css"
---

<style>
    .site--navigation{
        min-height: 80px;
        border-bottom: 2px solid var(--accent-clr);
    } 
</style>


<header class="site--navigation">
    <nav>
        <div class="logo">

        </div>
        <ul class="links">
            <!-- <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li> -->
        </ul>
    </nav>
</header>
