---
import '../styles/components/navigation.css';
---

<header class="site-header">
        <nav class="site-nav site-container">
        <div class="site-brand">
            <p class="site--title">Benedev</p>
        </div>
        <div class="site--hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="nav-container">
            <li class="nav-option">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-option">
                <a href="#" class="nav-link">Docs</a>
            </li>
            <li class="nav-option">
                <a href="#" class="nav-link">Playground</a>
            </li>
        </ul>

    </nav>
</header>

<script>
    const hamburger = document.querySelector('.site--hamburger');
    const navigation = document.querySelector('.nav-container');

    hamburger?.addEventListener('click', () => {
        navigation?.classList.toggle("active");
        hamburger.classList.toggle("active");
    });

</script>