---
import '../styles/global.css';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
        <section class="blog--wrapper">
            <slot />
        </section>
	</body>
</html>

<style>
	:root{
		--primary-clr: #171717;
		--primary-clr-dark: #111111;
		--primary-clr-light: #303030;

		--accent-clr: #51e530;
		--accent-clr-dark: #29b90a;

		--secondary-clr: #626D58;

		--white-clr: #eaeaea;
	}

	.blog--wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 100vh;

		max-width: 700px;
	}

</style>