---
import '../styles/global.css';
import Layout from './Layout.astro';


const {frontmatter} = Astro.props;

const thumbnail = frontmatter.image.url;
const thumbnailAlt = frontmatter.image.alt;
---


		
<Layout>			
	<article class="blog--wrapper">
		<!-- Reminder to add alt tags -->
		{(thumbnailAlt === undefined || thumbnailAlt === "") && <h2 class="warn">You need to add an alt tag</h2>}
		
		{(thumbnail !== undefined) && <img class="article--thumbnail" src={frontmatter.image.url} alt={frontmatter.image.alt}>}
		
		<h1 class="post--title">{frontmatter.title}</h1>
		<slot />
	</article>
</Layout>

<style>

	.blog--wrapper{
		max-width: 748px;
		margin-inline:auto;
		min-height: 100vh;
	}

	.article--thumbnail{
		width:100%;
	}

	.post--title{
		font-size: 4.5rem;
	}

	.warn{
		color: red;
	}
</style>