---
import '../styles/global.css';
import Layout from './Layout.astro';


const {frontmatter} = Astro.props;
---


		
<Layout>			
	<article class="blog--wrapper">
		<!-- Reminder to add alt tags -->
		<h1 class="post--title">{frontmatter.title}</h1>
		<slot />
	</article>
</Layout>

<style>

	.blog--wrapper{
		max-width: 748px;
		margin-inline:auto;
		min-height: 100vh;
	}

	.article--thumbnail{
		width:100%;
	}

	.post--title{
		font-size: 4.5rem;
	}

	.warn{
		color: red;
	}
</style>