---
const {classes} = Astro.props;
---

<style>
    .card{
        --card-title-size: 1.5em;
        --card-padding: .5em;
        --card-padding--inner: 1em;

        --card-text-size: 1em;
        --card-border-radius: 1.5em;
        --card-border: 4px solid var(--secondary-clr);

        background-color: var(--primary-clr-light);
        color:var(--main-text-clr);
        padding: var(--card-padding);

        border-radius: var(--card-border-radius);
        
        /* box-shadow: 0 10px 5px black; */
        max-width: 100%;
        height: fit-content;
    }
    
    .card--inner{
        border: var(--card-border);
        border-color: var(--primary-clr);
        /* padding: var(--card-padding); */
        border-radius: calc(var(--card-border-radius) - .5em);
        overflow: hidden;
        height: 100%;
    }

    .card--inner--content{
        padding: var(--card-padding);
        height: 100%;
    }


    .card--title{
        font-size: var(--card-title-size);
        margin-bottom: .75em;
    }



    /* Extra Classes / Variants */
    .card--project{
        height: 100%;
    }


    .card--techstack{
        height:fit-content;
        width:fit-content;

        padding: .25em;
        border-radius: 1em;
    }

    .card--techstack > .card--inner{
        padding: .25em;
        border-radius: .75em;
    }

    .card--inner > .card--techstack--icon{
        width: 80px;
    }  

</style>

<article class=`card ${classes}`>
    <div class="card--inner">
        <div class="card--inner--content">
            <slot/>
        </div>
    </div>
</article>

<script>

</script>