---
import '../../styles/components/navigation.css';
---

<header class="site-header">
        <nav class="site-nav site-container">
        <div class="site-brand">
            <a href="/">
                <img  class="site-icon" src="/favicon.svg" alt="Favicon Image of my logo: A simple green circle with eyes">
            </a>
        </div>
        <div class="site--hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="nav-container">
            <li class="nav-option">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-option">
                <a href="/projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-option">
                <a href="/blog" class="nav-link">Blog</a>
            </li>
            <li class="nav-option">
                <a href="/contact" class="nav-link">Contact</a>
            </li>
            <div class="nav-cta--container-mb">
                <li class="nav-option">
                    <a href="/pdf/resume.pdf" class="cta--btn btn sm">See Resume</a>
                </li>
            </div>
        </ul>
        <div class="nav-cta--container">
            <li class="nav-option">
                <a href="/pdf/resume.pdf" class="cta--btn btn sm">See Resume</a>
            </li>
        </div>

    </nav>
</header>

<script>
    const hamburger = document.querySelector('.site--hamburger');
    const navigation = document.querySelector('.nav-container');

    hamburger?.addEventListener('click', () => {
        navigation?.classList.toggle("active");
        hamburger.classList.toggle("active");
    });

</script>